#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#location-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0px;
  height: 50px;
}
